<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key = "connString" value="data source=localhost;database=sdrzyctest;user id=root;password=@123abc@;pooling=false;charset=utf8;Allow User Variables=True"/>
		<add key = "CompanyCode" value="04"/>
		<add key ="SortLineCode" value="3"/>
	</appSettings>
</configuration>